@import url('https://fonts.googleapis.com/css?family=Archivo|Armata|Bangers|Boogaloo|Cabin+Condensed|Chakra+Petch|Dosis|Economica|Fira+Sans|Karla|Lalezar|Merriweather|Niramit|Noto+Sans|Open+Sans+Condensed:300|Oswald|Playfair+Display|Quicksand|Raleway|Ranga|Roboto+Slab|Spicy+Rice|Sunflower:300|Titillium+Web|Yantramanav');

:root {
    --background-color: #ffffff;
    --font-color: #000000;
}

body {
    background: var(--background-color);
    color: var(--font-color);
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 120px;
    height: 100vh;
    width: 100vw;
}

.output {
    grid-area: 1 / 1 / 2 / 3;
    margin: auto auto;
    z-index: -1;
    background: var(--background-color);
}

.time {
    font-size: 7em;
    /*font-size: 15vw;*/
}


.options {
    opacity: 0;
    grid-area: 1 / 1 / 2 / 2;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s;
    background: #ffffff;
    color: #2e58a6;
}

.options h2 {
    font-size: 2em;
}

.options p {
    margin: 1em 0 0.5em 0;
    font-size: 1.25em;
}


.options:hover {
    opacity: 1;
}
footer {
    grid-area: 2 / 1 / 2 / 3;
    padding: 1em;
    opacity: 0;
    transition: 0.3s;
    background-color: #ffffff;
    color: #2e58a6;
}

.options:hover ~ footer, footer:hover {
    opacity: 1;
}

footer a {
    color: inherit;
}


input, select {
    width: 100px;
    border: none;
    border-radius: 5px;
    margin: 0 0 0 1em;
    padding: 5px;
}


.slider {
    width: 250px;
}

footer {
    background: #fff;
    padding: 0 3em 0 0;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer ul li {
    margin: .5em;
}
a:hover {
    color: #ff4040;
}
@media only screen and (max-width: 450px) {
    footer  {
        padding: 3em 1em;
    }
}
